{% extends "main/template.html" %}

{% load static %}

{% block title %}
    Lab Manual Maker - About us
{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="aboutus.css">
    </head>
    <body>
        
        <div class="container">
            <div class="header">
                <img src="{% static 'images/group.png' %}" id="grouplogo" />
                <p>Laboratory Manual Maker</p>
                <p>Department of Computer Engineering</p>
                <p>Bachelor of Science in Computer Engineering</p>
            </div>
            <div class="sub-container">
                <div class="team"> 
                    <img src="{% static 'images/Bonifacio.jpg' %}" class="idpic" />
                    <div class="name">J.C. Jeff Bonifacio</div>
                    <div class="desig">Data Science</div>
                </div>
                <div class="team"> 
                    <img src="{% static 'images/Espela.jpg' %}" class="idpic" />
                    <div class="name">Emerson Espela</div>
                    <div class="desig">Data Science</div>
                </div>
                <div class="team"> 
                    <img src="{% static 'images/Ortega.png' %}" class="idpic" />
                    <div class="name">Jasper Ortega</div>
                    <div class="desig">Data Science</div>
                </div>
                <div class="team"> 
                    <img src="{% static 'images/Reyes.jpg' %}" class="idpic" />
                    <div class="name">Jhoanna Reyes</div>
                    <div class="desig">Data Science</div>
                </div>
                <div class="team"> 
                    <img src="{% static 'images/Viernes.png' %}" class="idpic" />
                    <div class="name">Kent Jan Viernes</div>
                    <div class="desig">Data Science</div>
                </div>
            </div>

        </div>
    </body>
{% endblock %}