<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>
            Lab Manual Maker - Login
        </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="authenticate.css">
    </head>
    <body>
        <header>
            <img src="{% static 'images/TIPLogo.png' %}" id="tiplogo" />
            <h1>Laboratory Manual Maker</h1>
        </header>
        <div class="form-box">
            <div class="button-box">
                <button type="button" onclick="to_login()" class="authtype">Login</button>
                <button type="button" onclick="to_register()" class="authtype">Register</button>
            </div>
                <form id="login"class="input-group" method="POST">
                    {% csrf_token %}
                    <label for="email">Email: </label>
                    <input class="input-field" required id="email" placeholder="email@example.com" type="email" />
                    <label for="password">Password: </label>
                    <input class="input-field" required id="password" placeholder="Password" type="password" />
    
                    <input class="submit-btn" type="submit" value="Login" id="Login" />
                </form>
                <form  id="register"class="input-group" method="POST">
                    {% csrf_token %}
                    <label for="fname">First Name: </label>
                    <input class="input-field" required id="fname" placeholder="First Name"  />
                    <label for="lname">Last Name: </label>
                    <input class="input-field" required id="lname" placeholder="Last Name"  />
                    <label for="email">Email: </label>
                    <input class="input-field" required id="email" placeholder="email@example.com" type="email" />
                    <label for="password">Password: </label>
                    <input class="input-field" required id="password" placeholder="Password" type="password" />
                    
    
                    <input class="submit-btn" type="submit" value="Register" id="Register" />
                </form>
        </div>

        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function to_login() {
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0px";

            }
            function to_register() {
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>
    </body>

    
</html>