{% extends "main/template.html" %}

{% load static %}

{% block title %}
    Laboratory Manual Maker
{% endblock %}

{% block body %}
    <div>
        <h1>Laboratory Manual Maker</h1>
        <div class="search">
            
            <form method="POST" >
                {% csrf_token %}
                <label for="searched">Search: </label>
                <input name="searched"  placeholder="Course / Topic / Instructor" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
{% endblock %}